In [22]:
## Deliverable 2. Create a Customer Travel Destinations Map.
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

In [3]:
# Configure gmaps API key
gmaps.configure(api_key=g_key)
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/vanessac./Desktop/Analysis Projects/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,Preeceville,51.9500,-102.6677,67.01,45,90,6.80,CA,2022-08-01 18:29:33,overcast clouds
1,1,Albany,42.6001,-73.9662,86.63,48,32,1.99,US,2022-08-01 18:24:49,scattered clouds
2,2,Leningradskiy,69.3833,178.4167,46.69,74,45,5.57,RU,2022-08-01 18:29:34,scattered clouds
3,3,Denpasar,-8.6500,115.2167,78.46,94,20,9.22,ID,2022-08-01 18:29:34,few clouds
4,4,Arraial Do Cabo,-22.9661,-42.0278,78.76,69,0,16.11,BR,2022-08-01 18:29:34,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 100

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
1,1,Albany,42.6001,-73.9662,86.63,48,32,1.99,US,2022-08-01 18:24:49,scattered clouds
3,3,Denpasar,-8.6500,115.2167,78.46,94,20,9.22,ID,2022-08-01 18:29:34,few clouds
4,4,Arraial Do Cabo,-22.9661,-42.0278,78.76,69,0,16.11,BR,2022-08-01 18:29:34,clear sky
8,8,Sorong,-0.8833,131.2500,77.68,84,75,3.74,ID,2022-08-01 18:29:37,broken clouds
10,10,Puerto Ayora,-0.7393,-90.3518,82.36,90,96,11.01,EC,2022-08-01 18:29:38,overcast clouds
11,11,Sarangani,5.4033,125.4636,82.76,73,94,8.77,PH,2022-08-01 18:29:39,overcast clouds
14,14,Hithadhoo,-0.6000,73.0833,81.27,68,98,14.12,MV,2022-08-01 18:29:41,overcast clouds
15,15,Nouadhibou,20.9310,-17.0347,75.18,83,20,13.80,MR,2022-08-01 18:29:41,few clouds
16,16,Butaritari,3.0707,172.7902,81.12,78,96,13.82,KI,2022-08-01 18:29:42,overcast clouds
20,20,Bubaque,11.2833,-15.8333,80.06,79,81,17.58,GW,2022-08-01 18:29:44,broken clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        404
City           404
Lat            404
Lng            404
Max Temp       404
Humidity       404
Cloudiness     404
Wind Speed     404
Country        404
Date           404
Description    404
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
1,1,Albany,42.6001,-73.9662,86.63,48,32,1.99,US,2022-08-01 18:24:49,scattered clouds
3,3,Denpasar,-8.6500,115.2167,78.46,94,20,9.22,ID,2022-08-01 18:29:34,few clouds
4,4,Arraial Do Cabo,-22.9661,-42.0278,78.76,69,0,16.11,BR,2022-08-01 18:29:34,clear sky
8,8,Sorong,-0.8833,131.2500,77.68,84,75,3.74,ID,2022-08-01 18:29:37,broken clouds
10,10,Puerto Ayora,-0.7393,-90.3518,82.36,90,96,11.01,EC,2022-08-01 18:29:38,overcast clouds

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng", "Date"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Date,Hotel Name
1,Albany,US,86.63,scattered clouds,42.6001,-73.9662,2022-08-01 18:24:49,
3,Denpasar,ID,78.46,few clouds,-8.6500,115.2167,2022-08-01 18:29:34,
4,Arraial Do Cabo,BR,78.76,clear sky,-22.9661,-42.0278,2022-08-01 18:29:34,
8,Sorong,ID,77.68,broken clouds,-0.8833,131.2500,2022-08-01 18:29:37,
10,Puerto Ayora,EC,82.36,overcast clouds,-0.7393,-90.3518,2022-08-01 18:29:38,
11,Sarangani,PH,82.76,overcast clouds,5.4033,125.4636,2022-08-01 18:29:39,
14,Hithadhoo,MV,81.27,overcast clouds,-0.6000,73.0833,2022-08-01 18:29:41,
15,Nouadhibou,MR,75.18,few clouds,20.9310,-17.0347,2022-08-01 18:29:41,
16,Butaritari,KI,81.12,overcast clouds,3.0707,172.7902,2022-08-01 18:29:42,
20,Bubaque,GW,80.06,broken clouds,11.2833,-15.8333,2022-08-01 18:29:44,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Date,Hotel Name
3,Denpasar,ID,78.46,few clouds,-8.6500,115.2167,2022-08-01 18:29:34,OYO 3156 Hotel Warta 2
4,Arraial Do Cabo,BR,78.76,clear sky,-22.9661,-42.0278,2022-08-01 18:29:34,Pousada Porto Praia
8,Sorong,ID,77.68,broken clouds,-0.8833,131.2500,2022-08-01 18:29:37,Waigo Splash Hotel
10,Puerto Ayora,EC,82.36,overcast clouds,-0.7393,-90.3518,2022-08-01 18:29:38,Finch Bay Galapagos Hotel
11,Sarangani,PH,82.76,overcast clouds,5.4033,125.4636,2022-08-01 18:29:39,JVL Inn and Cafeteria

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))